* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

body{
    font-family: Helvetica, Arial, sans-serif;
}

.main{
    background-color: #f0f2f5;
    padding: 92px 0 132px 0;
}

.login-cards h5, .login-cards p, .cards{
    margin-left: 20px;
    margin-bottom: 0;
}

.login-cards{
    width: 100%;
}

.logo{
    width: 200px;
    margin-left: 0;
}

.cards{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: 160px;
    height: 205px;
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 15px;
    transition: 0.5s;
}

.card:hover{
    box-shadow: 0 0 10px rgba(184, 184, 184, 1);
}

.card img{
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.card-name{
    text-align: center;
    padding: 12px;
    font-weight: 500;
}

/* Form */
#before-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(184, 184, 184, 1);
}

.login-form button{
    font-size: 20px;
}

.login-form a{
    text-decoration: none;
    font-size: 13px;
}

.login-form a:hover{
    text-decoration: underline;
}

.forgot{
    text-align: center;
    width: 100%;
}

.celebridade{
    font-size: 14px;
    text-align: center;
}

.celebridade a{
    font-weight: 600;
    color: black;
    text-decoration: none;
}

.celebridade a:hover{
    text-decoration: underline;
    color: black;
}

.modal-body input{
    background-color: #f5f6f7;
}

.modalTuto{
    font-size: 12px;
    color: gray;
    font-weight: 500;
}

.form-check{
    padding: 8px 15px;
}  

.modalFooter{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.terms{
    font-size: 10px;
    text-align: justify;
}