* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

body{
    font-family: Helvetica, Arial, sans-serif;
}

.main{
    background-color: #f0f2f5;
    padding: 92px 0 132px 0;
}

.login-cards h5, .login-cards p{
    margin-left: 20px;
    margin-bottom: 0;
}

.logo{
    width: 200px;
    margin-left: 0;
}

.login-form{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.login-form button{
    font-size: 20px;
}

.login-form a{
    text-decoration: none;
    font-size: 13px;
}

.login-form a:hover{
    text-decoration: underline;
}

.forgot{
    text-align: center;
    width: 100%;
}

.celebridade{
    font-size: 14px;
    text-align: center;
}

.celebridade a{
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.celebridade a:hover{
    text-decoration: underline;
    color: black;
}

.modal-body input{
    background-color: #f5f6f7;
}